---
Language: Cpp
BasedOnStyle: GNU
AllowShortEnumsOnASingleLine: false
ColumnLimit: 0
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
IndentCaseBlocks: true
IndentGotoLabels: false
PointerBindsToType: true
SortIncludes: true
SpaceBeforeParens: ControlStatements
TabWidth: 2
